{% extends "base.html" %}
{% block content %}
<A  href="/"><i class="fa fa-home"></i>&nbsp; Regresar</A>&nbsp;&nbsp; <a href="/cpw"><i class="fa fa-refresh"></i> Cambiar clave</a>
<div style="width:70%;padding: 10,10,10,10;">
<center>
    <a href="/region" class="btn btn-primary" id="bt" style="width: 40%;padding-bottom: 10px;">Regiones</a><br>
    <a href="/region" class="btn btn-primary" id="bt" style="width: 40%;padding: 10,10,10,10;">Paises</a><br>
    
</center>
</div>
{% endblock content %}