{% extends "base.html" %}
{% block content %}
<br>
<div class="coard  mx-auto border sena-borde" style="width:70%;">
    <div class="card-header w3-black">
        
        <h5 class="card-title"><font color="yellow">MENU PRINCIPAL</font></h5>
      </div>
    <div class="card-body" >

<a class="btn btn-outline-primary" href="/cpw"><i class="fa fa-refresh"></i> Cambiar clave</a><hr>
<!-- <button id="enviar_token">Enviar JWT al servidor</button>

    <script>
        document.getElementById('enviar_token').onclick = function() {
            var token = document.getElementById('jwt_token').value;
            alert("ok")
            // Enviar el token al servidor usando AJAX
            fetch('/cpw', 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ token: token })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Respuesta del servidor:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };
    </script> -->
<div style="width:70%;padding: 10,10,10,10;">
<center>
    <a href="/region" class="btn btn-outline-primary sena-borde" id="bt" style="width: 90%;padding-bottom: 10px;">Regiones</a><br><br>
    <a href="/pais" class="btn btn-outline-primary sena-borde" id="bt" style="width: 90%;padding: 10,10,10,10;">Paises</a><br>

    

      
</center>
</div>
</div>
</div>
<br>
{% endblock content %}