<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
<HEAD>
<TITLE>Un documento simple con marcos</TITLE>
</HEAD>
<FRAMESET cols="30%, 80%" frameborder=0 >
  <FRAMESET rows="130, 280">
      <FRAME src="/logo" NORESIZE scrolling=no name=logo>
      <FRAME src="/menu" name=menu>
  </FRAMESET>
  <FRAME src="/logo1" name=centro>
  <NOFRAMES>
      <P>Este conjunto de marcos contiene:
      <UL>
         <LI><A href="contenidos_del_marco1.html">Contenidos chéveres</A>
         <LI><IMG src="contenidos_del_marco2.gif" alt="Una imagen chévere">
         <LI><A href="contenidos_del_marco3.html">Más contenidos chéveres</A>
      </UL>
  </NOFRAMES>
</FRAMESET>
</HTML>