<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo-sena-negro.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_jinja.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/justificacion_proyecto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre_nosotros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="content">
          <div class="navbar" >
            <ul>
                <li><a href="/inicio_login"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/sobre_nosotros"><i class="fa-solid fa-users"></i> Sobre Nosotros</a></li>
                <li><a href="/login"><i class="fa fa-fw fa-user"></i> Iniciar Sesión</a></li>
                
            </ul>
        </div>
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='javascripts/filtrar.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/material.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/menu_lateral.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/script.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/select_search.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/hora_fechaLocal.js') }}"></script>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/w3css.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/w3pro.min.css')}}" rel="stylesheet">   

</body>

</html>