{% extends "base.html" %}

{% block title %}Prestar Objeto - Inventario de Objetos{% endblock %}

{% block content %}


<!-- Contenido -->

<a href="/mostrar_objetos" class="regresar" style="color: #39a900; text-decoration: none;">
    <i class="fas fa-arrow-left"></i> Regresar
</a>

<h1>Prestar Objeto</h1>

<!-- Formulario para prestamo de objeto -->
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="full-width panel mdl-shadow--2dp">
                <div class="full-width panel-tittle bg-primary text-center tittles">
                    Detalles del Objeto
                </div>
                <div class="full-width panel-content">
                    <form id="confirmarPrestamoForm" method="POST" action="{{ url_for('confirmar_prestamo_objeto', id=prestamo.IdProducto) }}">
                        <div class="mdl-grid">
                            <input type="hidden" name="id_producto" value="{{ objeto.IdProducto }}">
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="NombreProducto"
                                        value="{{ objeto.NombreProducto }}" readonly>
                                    <label class="mdl-textfield__label" for="NombreProducto">Nombre Producto</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="DescripcionProducto"
                                        value="{{ objeto.DescripcionProducto }}" readonly>
                                    <label class="mdl-textfield__label" for="DescripcionProducto">Descripción
                                        Producto</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="TipoProducto"
                                        value="{{ objeto.TipoProducto }}" readonly>
                                    <label class="mdl-textfield__label" for="TipoProducto">Tipo Producto</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="number" id="CantidadProducto"
                                        value="{{ objeto.CantidadProducto }}" readonly>
                                    <label class="mdl-textfield__label" for="CantidadProducto">Cantidad</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="ObservacionesProducto"
                                        value="{{ objeto.ObservacionesProducto }}" readonly>
                                    <label class="mdl-textfield__label"
                                        for="ObservacionesProducto">Observaciones</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp;
                                    DATOS DEL PRÉSTAMO</legend><br>
                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <select class="mdl-textfield__input" id="select_instructor" name="instructor"
                                        required>
                                        <option value="" disabled selected>Seleccionar Instructor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                                        style="margin-bottom: 20px;">
                                        <input type="datetime-local" class="mdl-textfield__input"
                                            style="padding-top: 20px;" min="2024-03-23T11:00" max="2030-11-23T11:00"
                                            pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}" id="FechaPrestamo"
                                            name="fecha_prestamo" required>
                                        <label class="mdl-textfield__label" style="font-size: 14px; top: 8px;"
                                            for="FechaPrestamo">Fecha y hora del préstamo</label>
                                        <span class="mdl-textfield__error">Formato inválido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                                    style="margin-bottom: 20px;">
                                    <input class="mdl-textfield__input" style="padding-top: 20px;" type="number"
                                        value="1" min="1" id="CantidadPrestamo" name="cantidad_prestamo"
                                        pattern="[1-9]\d*" required>
                                    <label class="mdl-textfield__label" style="font-size: 14px; top: 8px;"
                                        for="CantidadPrestamo">Cantidad</label>
                                    <span class="mdl-textfield__error">Cantidad Inválida</span>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <select class="mdl-textfield__input select2" name="EstadoPrestamo"
                                        id="EstadoPrestamo" required>
                                        <option value="" disabled selected>Seleccionar Estado Prestamo</option>
                                        <option value="En curso">En curso</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" pattern=".*"
                                        id="ObservacionesPrestamo" name="observaciones_prestamo" required>
                                    <label class="mdl-textfield__label" for="ObservacionesPrestamo">Observaciones del
                                        Préstamo</label>
                                    <span class="mdl-textfield__error">Observaciones Inválidas</span>
                                </div>
                            </div>

                        </div>
                        <p class="text-center">
                            <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary"
                                id="btn-addProduct">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        <div class="mdl-tooltip" for="btn-addProduct">Prestar Objeto</div>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/get_prestatarios')
            .then(response => response.json())
            .then(data => {
                const selectInstructor = document.getElementById('select_instructor');
                data.forEach(instructor => {
                    const option = document.createElement('option');
                    option.value = instructor.id;
                    option.textContent = instructor.id + '. ' + instructor.nombre + ' ' + instructor.apellido;
                    selectInstructor.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener los prestatarios:', error));
    });

</script>
<script src="/static/javascripts/select_search.js"></script>

<script>
document.getElementById('confirmarPrestamoForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var form = event.target;
    var formData = new FormData(form);

    fetch(form.action, {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            location.reload(); // Recargar la página
        } else {
            alert(data.message); // Mostrar mensaje de error
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error al confirmar el préstamo');
    });
});
</script>

{% endblock %}