
<!-- Menú Lateral -->
<div class="sidebar" id="sidebar">
    <div class="header">
        <img src="/static/img/" alt="">
        <h2>SENA</h2>
        <div class="close-btn" id="close-btn">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <ul>
        <li><a href="/templates/inventario.html">Inventario</a></li>
        <li><a href="/templates/objetos.html">Objetos</a></li>
        <li><a href="/templates/reportes.html">Reportes</a></li>
        <li><a href="/templates/usuarios.html">Usuarios</a></li>
    </ul>
</div>



<div class="header">
    <div class="top">
        <a href="https://www.gov.co/" target="_blank" alt="Gov.co"><img
                src="https://css.mintic.gov.co/mt/mintic/img/header_govco.png" alt="Gov Co"
                style="max-height: 20px;"></a>

    </div>
</div>
<div class="wrapper row1 s4-notdlg">
    <header id="header" class="clear">

        <div class="oneHeader first">
            <div class="skew">
                <a href="/es-co/Paginas/default.aspx" title="SENA" style="text-decoration:none">
                    <img class="logoSena"
                        src="https://www.sena.edu.co/Style%20Library/alayout/images/mintrabajo-logo.png"
                        alt="Logo Gobierno" title="Logo SENA">&nbsp;</a>
            </div>
        </div>

        <div class="twoHeader">
            <div class="fullWidth">
                <div class="oneSpace first"></div>
                <div class="halfHeader first" style="margin-top: 5%;margin-bottom: 5%;width: 100%;">
                    <img src="https://www.sena.edu.co/Style%20Library/alayout/images/logoSena.png"
                        alt="Gobierno SENA" style="margin-left: 200%; max-width: 100px;">
                    <img src="https://www.sena.edu.co/Style%20Library/alayout/images/mintrabajo-logo.png"
                        alt="MinTrabajo" style="margin-left: 4%;margin-top: 0%;display: none;max-width: 40%;">
                </div>
            </div>




            <div class="fullWidth">
                <div class="oneLogo first">
                    <ul class="faico clear">
                        <!-- <li><a class="faiconFb" href="https://www.facebook.com/SENAColombiaOficial/"  style="text-decoration:none" target="_blank" aria-label="Facebook"><span class="fa fa-facebook"></span></a></li>
                          <li><a class="faiconTw" href="https://twitter.com/SENAComunica"  style="text-decoration:none" target="_blank" aria-label="Twitter"><span class="fa fa-twitter"></span></a></li>
                          <li><a class="faiconIg" href="http://instagram.com/senacomunica"  style="text-decoration:none" target="_blank" aria-label="Instagram"><span class="fa fa-instagram" ></span></a></li>
                          <li><a class="faiconYb" href="https://www.youtube.com/user/SENATV"  style="text-decoration:none" target="_blank" aria-label="Youtube"><span class="fa fa-youtube" ></span></a></li>
                          <li><a class="faiconSC" href="https://soundcloud.com/comunicacion-digital-sena"  style="text-decoration:none" target="_blank" aria-label="SoundCloud"><span class="fa fa-soundcloud" ></span></a></li>
                          <li style="height:65px;    width: 65px;"><a  href="https://asistencia.webv2.allus.com.co/WebAPI802/ChatSena/AdvancedChat/formchat.jsp" style="text-decoration:none" target="_blank" aria-label="Chat SENA"><img src="/es-co/Noticias/PublishingImages/chat-sena-blanco-90x90.png" alt="Chat SENA" width="90" height="90"></a></li>-->
                    </ul>
                </div>

            </div>
        </div>

    </header>
    <div class="clear"></div>
    
    
</div>