{% extends "base.html" %}

{% block title %}Inicio - Inventario de Objetos{% endblock %}

{% block content %}

<section class="contenido" id="contenido">

    <div class="contenido_texto">
        <h2>Inventario de Objetos en Bodega</h2>
        <p>
            Nos complace darles la bienvenida a nuestro
            proyecto de Desarrollo de Software para 
            el Manejo de Inventarios. Este software 
            está diseñado para automatizar y mejorar los 
            procesos de inventario, haciendo que el registro, 
            seguimiento y control de los productos sea más eficiente 
            y preciso. Con esta herramienta, buscamos ayudar a las 
            empresas a reducir costos, tomar decisiones informadas y 
            crecer de manera ordenada y escalable.
        </p>

    </div>

    <div class="contenedor-botones">
        <div>
            <a href="/sobre_nosotros" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-users" style="color: white;"></i>
                <span>Sobre Nosotros</span>
            </a>
            <a href="/login" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-right-to-bracket" style="color: white;"></i>
                <span>Iniciar Sesión</span>
            </a>
            
        </div>
        <div>
            <a href="/justificacion_proyecto" style="text-decoration: none; color: white;"  class="boton-cuadrado">
                <i class="fa-solid fa-sitemap" style="color: white;"></i>
                <span>Justificación Proyecto</span>
            </a>
           
        </div>
    </div>



</section>

{% endblock %}