{% extends "base.html" %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div class="contenedor-botones">
    <div>
        <a href="/mostrar_inventario" style="text-decoration: none; color: white;" class="boton-cuadrado">
            <i class="fa fa-box-open" style="color: white;"></i>
            <span>Inventario</span>
        </a>
    </div>
    <div>
        <a href="/mostrar_administradores" style="text-decoration: none; color: white;" class="boton-cuadrado">
            <i class="fa-solid fa-users" style="color: white;"></i>
            <span>Administradores</span>
        </a>
    </div>
    <a href="/prestar_objetos" style="text-decoration: none; color: white;" class="boton-cuadrado">
        <i class="fas fa-hand-holding" style="color: white;"></i>
        <span>Prestar Objetos</span>
    </a>
</div>
{% endblock %}