{% extends "base.html" %}

{% block title %}Instructores - Inventario de Objetos{% endblock %}

{% block content %}
<a href="/usuarios" class="regresar" style="color: #39a900; text-decoration: none;">
    <i class="fas fa-arrow-left"></i> Regresar
</a>

<h1>Instructores</h1>

<section class="full-width header-well">
    <div class="full-width header-well-icon">
        <i class="fa-solid fa-chalkboard-user"></i>
    </div>
    <div class="full-width header-well-text">
        <p class="text-condensedLight">
            Explora el panel de gestión de instructores, diseñado para registrar nuevos instructores, visualizar
            información detallada de cada uno, editar perfiles existentes y eliminar instructores según las necesidades
            específicas de la plataforma de préstamos.
        </p>
    </div>
</section>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabNewClient" class="mdl-tabs__tab is-active" style="text-decoration: none; color: black;">Nuevo</a>
        <a href="#tabListClient" class="mdl-tabs__tab" style="text-decoration: none; color: black;">Lista</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tabNewClient">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Nuevo Instructor
                    </div>
                    <div class="full-width panel-content">
                        <form method="POST" action="{{ url_for('registrar_instructor') }}">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i>
                                        &nbsp; DATOS INSTRUCTOR</legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <select class="mdl-textfield__input" id="TipoIdentificacion"
                                            name="TipoIdentificacion">
                                            <option value="" disabled="" selected="">Seleccionar Tipo de Identificación
                                            </option>
                                            <option value="CC">Cédula de Ciudadanía</option>
                                            <option value="TI">Tarjeta de Identidad</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="NumeroIdentificacion"
                                            pattern="[a-zA-Z0-9]{5,15}" name="NumeroIdentificacion">
                                        <label class="mdl-textfield__label" for="NumeroIdentificacion">Número de
                                            Identificación</label>
                                        <span class="mdl-textfield__error">Número de Identificación Inválido (Debe
                                            tener entre 5 y 15 caracteres alfanuméricos)</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="NombreInstructor"
                                            pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s'-]{2,50}" name="NombreInstructor">
                                        <label class="mdl-textfield__label" for="NombreInstructor">Nombre</label>
                                        <span class="mdl-textfield__error">Nombre Inválido (Debe tener entre 2 y 50
                                            caracteres)</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="ApellidoInstructor"
                                            pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s'-]{2,50}" name="ApellidoInstructor">
                                        <label class="mdl-textfield__label" for="ApellidoInstructor">Apellido</label>
                                        <span class="mdl-textfield__error">Apellido Inválido (Debe tener entre 2 y
                                            50 caracteres)</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="tel" id="CelularInstructor"
                                            name="CelularInstructor" pattern="[0-9]{1,10}">
                                        <label class="mdl-textfield__label" for="CelularInstructor">Número de
                                            Celular</label>
                                        <span class="mdl-textfield__error">Número de Celular Inválido (Debe tener
                                            entre 1 y 11 dígitos)</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <br>
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i>
                                        &nbsp; DETALLES DE CUENTA</legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="CorreoInstructor"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                            name="CorreoInstructor">
                                        <label class="mdl-textfield__label" for="CorreoInstructor">Correo
                                            Electrónico</label>
                                        <span class="mdl-textfield__error">Correo Electrónico Inválido</span>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">
                                <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            <div class="mdl-tooltip" for="btn-addAdmin">Agregar Instructor</div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Lista Instructores -->
    <div class="mdl-tabs__panel" id="tabListClient">
        <br>
        {% if instructores %}
        <p style="color: black;">Instructores encontrados: {{ instructores|length }}</p>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="tabla_instructores">
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align: left;" class="mdl-data-table__cell--non-numeric">ID</th>
                                    <th style="text-align: left;" class="mdl-data-table__cell--non-numeric">Nombre
                                        Instructor</th>
                                    <th style="text-align: left;" class="mdl-data-table__cell--non-numeric">Tipo
                                        Identificación</th>
                                    <th style="text-align: left;" class="mdl-data-table__cell--non-numeric">Número de
                                        Identificación</th>
                                    <th style="text-align: left;" class="mdl-data-table__cell--non-numeric">Correo
                                        Instructor</th>
                                    <th style="text-align: left;" class="mdl-data-table__cell--non-numeric">Celular
                                        Instructor</th>
                                    <th style="text-align: right;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mostrar in instructores %}
                                <tr>
                                    <td style="text-align: left;" class="mdl-data-table__cell--non-numeric">{{
                                        mostrar.IdInstructor }}</td>
                                    <td style="text-align: left;" class="mdl-data-table__cell--non-numeric">{{
                                        mostrar.NombreInstructor }} {{ mostrar.ApellidoInstructor }}</td>
                                    <td style="text-align: center;" class="mdl-data-table__cell--non-numeric">{{
                                        mostrar.TipoIdentificacion }}</td>
                                    <td style="text-align: left;" class="mdl-data-table__cell--non-numeric">{{
                                        mostrar.NumeroIdentificacion }}</td>
                                    <td style="text-align: left;" class="mdl-data-table__cell--non-numeric">{{
                                        mostrar.CorreoInstructor }}</td>
                                    <td style="text-align: center;" class="mdl-data-table__cell--non-numeric">{{
                                        mostrar.CelularInstructor }}</td>
                                    <td>
                                        <a class="icon_edit"
                                            href="{{ url_for('editar_instructor', id=mostrar.IdInstructor) }}"
                                            style="color: #39a900; text-decoration: none;"><i class="fas fa-edit"></i>
                                            Editar</a>
                                        <a class="icon_delete"
                                            href="{{ url_for('confirmar_eliminar_instructor', id=mostrar.IdInstructor) }}"
                                            style="color: red; text-decoration: none;"><i class="fas fa-trash-alt"></i>
                                            Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No hay instructores para mostrar.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}