
<!-- Menú Lateral -->
<div class="sidebar" id="sidebar">
    <div class="header">
        <img src="/static/img/" alt="">
        <h2>SENA</h2>
        <div class="close-btn" id="close-btn">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <ul>
        <li><a href="/templates/inventario.html">Inventario</a></li>
        <li><a href="/templates/objetos.html">Objetos</a></li>
        <li><a href="/templates/prestamos.html">Préstamos</a></li>
        <li><a href="/templates/reportes.html">Reportes</a></li>
        <li><a href="/templates/usuarios.html">Usuarios</a></li>
    </ul>
</div>

