<nav class="navbar">
    <ul class="opcionesMenu">
        <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
        <li><a href="/quienes_somos"><i class="fa fa-fw fa-search"></i> ¿Quiénes Somos?</a></li>
        <li><a href="/sobre_nosotros"><i class="fa-solid fa-users"></i> Sobre Nosotros</a></li>
        <li><a href="/prestar_objetos"><i class="fas fa-hand-holding"></i> Prestar Objetos</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
    </ul>
</nav>

