<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/rol_page.css">
    <title>Inventario de Objetos</title>
</head>

<body>

    <!-- Barra de Menú -->
    <div class="navbar">
        <ul class="opcionesMenu">
            <!-- Logo -->
            <!-- <li><a href="/#home" class="logo">
                    <img src="/static/img/facebook.png">
                </a></li> -->

            <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/quienes_somos"><i class="fa fa-fw fa-search"></i> ¿Quiénes Somos?</a></li>
            <li><a href="/sobre_nosotros"><i class="fa-solid fa-users"></i> Sobre Nosotros</a></li>
            <li><a href="/templates/logout.html"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
        </ul>
    </div>


    <!-- Menú Lateral -->

    <div class="menu-btn" id="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="header">
            <img src="/static/img/" alt="">
            <h2>SENA</h2>
            <div class="close-btn" id="close-btn">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <ul>
            <li><a href="/templates/inventario.html">Inventario</a></li>
            <li><a href="/templates/objetos.html">Objetos</a></li>
            <li><a href="/templates/prestamos.html">Préstamos</a></li>
            <li><a href="/templates/reportes.html">Reportes</a></li>
            <li><a href="/templates/usuarios.html">Usuarios</a></li>
        </ul>
    </div>


    <!-- Contenido -->




    <!-- Footer -->

    <footer>
        <h3>www.sena.edu.co</h3>
        <nav>
            <ul>
                <li><a href="https://www.instagram.com/senacomunica/"><img src="/static/img/instagram.png" alt="instagram_icon"></a></li>
                <li><a href="https://www.facebook.com/SENA/"><img src="/static/img/facebook.png" alt="facebook_icon"></a></li>
                <li><a href="https://twitter.com/SENAComunica"><img src="/static/img/gorjeo.png" alt="twitter_icon"></a></li>
                <li><a href="https://www.youtube.com/@SENAComunica"><img src="/static/img/youtube.png" alt="youtube_icon"></a></li>
                <li><a href="https://linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/"><img src="/static/img/linkedin.png" alt="linkedin_icon"></a></li>
            </ul>
            <p>@SENAComunica</p>
        </nav>
        <br>
        <p>&copy; 2024 Servicio Nacional de Aprendizaje - SENA</p>
    </footer>

    
</body>

</html>