{% extends "base.html" %}

{% block title %}Sobre Nosotros - Inventario de Objetos{% endblock %}

{% block content %}

<a href="/homepage" class="regresar" style="color: #39a900; text-decoration: none;">
    <i class="fas fa-arrow-left"></i> Regresar
</a>

<!-- Contenido -->
 

<h1>Sobre Nosotros</h1>
<section class="about_us">
    <p>
        En el proyecto de <strong>Inventario de Objetos en Bodega</strong>, somos un equipo pequeño pero apasionado,
        compuesto por tres
        profesionales dedicados. Juntos, hemos combinado nuestras habilidades y conocimientos para crear una página web
        funcional y atractiva. Conoce al equipo que hizo posible este proyecto:
    </p>

    <h5>Diseño, Funcionalidad y Desarrollo</h5>
    <p>Nuestro equipo está formado por:</p>
    <p>
        <strong>
            • Diana Catalina Barrera Rodríguez<br>
            • David Santiago Urrea Calvache<br>
            • Juan Pablo Guzmán Martínez
        </strong>
    </p>
    <p>
        Cada uno de nosotros dentro de el proyecto del Servicio Nacional de Aprendizaje - SENA del <i>CENTRO DE
            PRODUCCION DE SOLUCIONES INTELIGENTES - ADSO</i> ha contribuido de manera significativa en todas las
        áreas del proyecto, desde el diseño visual hasta la funcionalidad y el desarrollo técnico. Trabajando codo a
        codo, hemos asegurado que cada aspecto
        de la página web refleje nuestra visión compartida y ofrezca una experiencia excepcional para nuestros usuarios.
    </p>
    <h5>Nuestra Colaboración</h5>
    <p>
        Dentro del proyecyo de <strong>Inventario de Objetos en Bodega</strong>, creemos que la colaboración es clave
        para el éxito. Hemos unido nuestras fuerzas para
        garantizar que cada detalle de nuestra página web esté bien diseñado, sea intuitivo y funcione sin problemas.
        Nuestro enfoque multidisciplinario nos permite abordar los desafíos desde diferentes perspectivas, logrando
        resultados que superan nuestras expectativas.
    </p>
    <h5>Nuestro Compromiso</h5>
    <p>
        Estamos comprometidos a seguir mejorando y evolucionando, siempre enfocados en brindar la mejor experiencia
        posible a nuestros usuarios. Aunque somos un equipo pequeño, nuestra pasión y dedicación nos impulsan a alcanzar
        grandes logros.
    </p>
</section>

{% endblock %}