<center>
    <div style="width:70%;overflow:auto" class="w3-w3-green mx-auto">
      <img loading="lazy" src="{{url_for('static',filename='images/sena1.png')}}" style="border:true;width:100%;"><br>
      <img loading="lazy" src="{{url_for('static',filename='images/sena.png')}}" style="border:true;width:100%;border-color:black;height:150px;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);border: 1px solid #000000;height:100px"><br>
    </div>
      
        
    