{% extends "base.html" %}
{% block content %}

<center>
    <div class="sena-card"><br>
    <center>
    <div class="sena sena__information-card-title">
        <h3 class="sena-sombra sena-color sena-p6 mx-auto" >EDITANDO CENTROS DE FORMACION</h3>
    </div>
    <form name=mio action= "/centros/u" method=POST>
        {% for tipo in cadena %}
        <div class="sena__information-card-text"><br>
        <font color=black>Nombre:</font></td><td colspan=2>
        <input type=text name=nom id=nom value="{{tipo.NOMBRE}}" class="sena-fondo sena-p4" required><br>
        </div>
        <div class="sena__information-card-text">
            <hr>
            <input type="submit" value="Grabar"  class="sena-btn sena-p3">
            <input type=hidden name=id value="{{tipo.IDCENTRO}}">
            <input type="button" value="Regresar"  onclick="Ir1('/centros')" class="sena-btns sena-p3 sena-round">
            <hr>
    {% endfor %}
    </form>
</div>
</div>
    </div>
{% endblock content %}