<br>
<div style="width:70%;overflow:auto;background-color:39a900;" class="sena-card1">
<table class="table">
    <tr><td>
    <font color=black size=1>
    <h5>SERVICIO NACIONAL DE APRENDIZAJE SENA</h5>
    <h5>Centro de Gestión de Mercados, Logística y Tenologías de la Información</h5>
    Dirección: Cl 52 N° 13 65 Bogot&aacute;- Tel: +(57) 601 594 1301<br>
    Conmutador Nacional - Extensiones<br>
Atención telefónica: lunes a viernes 7:00 a.m. a 7:00 p.m. - sábados 8:00 a.m. a 1:00 p.m.<br>
Atención al ciudadano: Bogotá +(57) 601 7366060 - Línea gratuita y resto del país 018000 910270<br>
Atención al empresario: Bogotá +(57) 601 3430101 - Línea gratuita y resto del país 018000 910270

</font> 
</td>
<td><img loading="lazy" src="{{url_for('static',filename='images/foot1.png')}}" height=250px></td></tr>
<td colspan=2><img loading="lazy" src="{{url_for('static',filename='images/foot2.png')}}" style="border:true;width:100%;"></td>
</table>
</div>
    
