{% extends "base.html" %}
{% block content %}
<div class="sena-card3">
<table class="mx-auto">

  
  <tr>

    {% for item in cadena %}
    <td>
  <div class="sena-card2" >
  <div class="sena-color sena-sombra sena_m10 sena-text-yellow">
    {{item.NOMBRE}}
  </div>
  <div class="card-body "><a href="{{item.ENLACE}}">
    <img class="sena-img" loading="lazy" src="{{url_for('static',filename='images/'+item.ICONO)}}" height=60px width=60px></a> 

    </div>   
</td>
{% if loop.index is divisibleby  4 %}
<tr>
  {% endif %}
{% endfor%}
</tr>

</table>

  {% endblock content %}