
<!--
  <div style="width:70%;overflow:auto" class="w3-white mx-auto">
  <div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button w3-mobile w3-right"><img width=20px src="{{url_for('static',filename='images/inicio.webp')}}">&nbsp;Inicio</a>
    <script>document.writeln(getFecha());</script>
    
    <a href="/niveles/1000" class="w3-bar-item w3-button w3-mobile  w3-right"><i class="fa fa-search"></i>&nbsp;&nbsp;Acerca de...</a>
<br>
  -->
  <div class="sena-card2 sena-p6">
    <div class="nav mx-auto">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link sena-enlace-negro" aria-current="page" href="/"><i class="fa fa-bars"></i>Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle sena-enlace-negro" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Modulos</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/niveles/l"><i class="fa fa-user"></i>Usuarios</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-bookmark-o"></i> Regionales</a></li>
          <li><a class="dropdown-item" href="/centros"><i class="fa fa-bookmark"></i>Centros</a></li>
          <li><a class="dropdown-item" href="/sedes/0/0"><i class="fa fa-cc"></i>Sedes</a></li>
          <li><a class="dropdown-item" href="/aulas"><i class="fa fa-briefcase"></i>Aulas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-window-close"></i>Titulaciones</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-dashboard"></i>Actividades de aprendizaje</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-user-plus"></i>Instructor</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-calendar-plus-o"></i>Coordinaci&oacute;n</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-print"></i>Reportes</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-calendar-o"></i>Regionales</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-calendar"></i>Horarios</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/niveles/1000"><i class="fa fa-info-circle"></i>Acerca de...</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link sena-enlace-negro" aria-current="page" href="/niveles/1000"><i class="fa fa-search"></i>Acerca de</a>
      </li>
      <!--<li><script>document.writeln(getFecha());</script></li>-->
    </ul>
    
    </div>
    </div>
  
    