{% extends "base.html" %}
{% block content %}
<center>
    <div class="sena-card">
        <div class="bilinguismo__informacion-card-header">
            <h3 class="bilinguismo__information-card-title sena-color sena-sombra">
                <font color=white>CENTROS DE FORMACION</font></h3>
        </div>  
        <div class="sena__informacion-card-container">  
<table class="w3-striped w3-padding-large sena-p100" >   
    <td width=50%>
            <center>
            <table class="sena__information-card-text w3-striped  w3-centered sena-p100">
                <tr><td colspan=2>
                    <h5 class="sena-sombra w3-green sena-p100 " >CREAR REGISTRO</h5></header></td></tr>
                <tr>
            <form name=mio method=POST action="/centros/i" class="row g-3 "> 
                <td><font color=black>Nombre :</font></td>
                    <td><input class="sena-fondo" type="text" id="nom" name="nom"  placeholder="Ingrese el nombre  del usuario" required></td></tr>
                <td>Apellido:</font></td>
                    <td><input class="sena-fondo" type="text" id="ape" name="ape" placeholder="Ingrese el apellido  del usuario"  required><br></td></tr>
                </table>
                <br>
                    <input type="submit" value="Grabar"  class="sena-btn sena-p6">

            
            
            </form>
    </td>
    <td>&nbsp;&nbsp;</td>
    <td>
        <div class="sena-p100">
        <table class="table  sena__information-card-text table-striped sena-p100" height=20% width=100%>
    {% for item in cadena %}
        <td style="text-align:left"><font size=1 color=black><b>{{item.NOMBRE}}</font></b></td>
        <td width="100px">
            <button class="btn w3-blue w3-hover-yellow" alt="Editar" onclick=Ir1("/centros/e/{{item.IDCENTRO}}") title="Editar"><i class="fa fa-truck"></i></button>
        <button class="btn w3-red w3-hover-yellow" onclick='Confirmar("Desea Borrar el registro?","/centros/d/{{item.IDUSUA}}")' title="Borrar"><i class="fa fa-trash"></i></button></td></tr>
    {% endfor %}    

    </tr>
</table>
</div>
</tr>
</table>
<br>
</div>
</div>


{% endblock content %}