{% extends "base.html" %}
{% block content %}

<center>
    <div class="sena-card3">
        <div>
            <h3 class="sena-color sena-sombra">
                <font color=white>SEDES DEL CENTRO DE FORMACION</font></h3>
        </div>  
<div class="sena-card-none">  
    <table class="sena-p100" >  
                {% if N=="0" %} 
    <td width=50%>
            <table border=0 class="sena-p100">
                <tr><td colspan=2>
                    <h5 class="sena-sombra w3-green sena-p100 " >CREAR SEDE</h5></header></td></tr>
                <tr>
            <form name=mio method=POST action="/sedes/i"> 
                <td width=40%><font color=black>Nombre :</font></td>
                    <td><input class="sena-fondo sena-p9" type="text"  name="nom"  placeholder="Ingrese el nombre  de la sede" required></td></tr>
                <td>Centro de Formaci&oacute;n:</font></td>
                <td><select class="sena-fondo sena-p9" name=idcentro requerid>
                {% for tipo in centros0 %}
                        <option value="{{tipo.IDCENTRO}}">{{tipo.NOMBRE}}</option> 
                {% endfor %}       
                </select>
            </div>
        </td></tr>
                </table>
            </div>
                            <br>
                            <button class="sena-btn sena-p4" onclick='IrF("/sedes/i")'>Guardar</button><hr>

                </div>
            
            
            </form>
        </td>

{%endif%}
        
        {% if N=="0" %}
        
        <form  name=mio method=GET action="/sedes/1" class="row g-3 ">
        <div class="sena-p100">
        <table class="table  sena__information-card-text table-striped sena-p100" height=20% width=100%>
    <TD COLSPAN=2 class="w3-green"><h4>SEDES POR CENTRO</H4></TD></TR>
            <td>Centro:</td><td><select onchange=Irc("mio","/sedes/1",this) class="sena-p100" name=idcentro>
        <option>Elija un centro para mostrar las sedes</option>
        {% for tipo in centros %}
                        <option value="{{tipo.IDCENTRO}}">{{tipo.NOMBRE}}</option> 
                {% endfor %}  
    </select></td></tr>

    {% endif %}
    {% if N=="1" %}
    <td>
    <form  name=mio method=POST action="" class="row g-3 ">
    <div class="sena-p100">
        <button class="btn " onclick="IrF('/sedes/0/0')"><img class="sena-img" src="{{url_for('static',filename='images/back.jpg')}}" width=40px>&nbsp;<font size=3>Regresar</font></button><hr>
    <table class="table  sena__information-card-text table-striped sena-p100" height=20% width=100%>
<td colspan=2>Centro: 
    {% for tipo in centros %}
                    {{tipo.NOMBRE}}
            {% endfor %}  
</td></tr>

</tr>

    {% for tipo in sedes%} 
    <td class="sena-p95">{{tipo.NOMBRE}}</td>
<td class="sena-p2"><button class="btn w3-blue w3-hover-yellow" alt="Editar" onclick=IrF("/sedes/2/{{tipo.IDSEDE}}") title="Editar"><i class="fa fa-truck"></i></button>
    <button class="btn w3-red w3-hover-yellow" onclick='Confirmar("Desea Borrar el registro?","/sedes/d/{{tipo.IDSEDE}}")' title="Borrar"><i class="fa fa-trash"></i></button></td></tr>
</td></tr>
    {%endfor %}
{% endif %}

{% if N=="2" %}
<form  name=mio method=POST action="/sedes/u" class="row g-3 ">
<div class="sena-p100 " style="align:left;"> 
    <button class="btn " onclick="IrF('/sedes/0/0')"><img class="sena-img" src="{{url_for('static',filename='images/back.jpg')}}" width=40px>&nbsp;<font size=3>Regresar</font></button><hr>
    <table class="table  sena__information-card-text table-striped sena-p100" height=20% width=100%>
{% for tipo in sedes %}
<input type=hidden name=idcentro value={{tipo.IDCENTRO}}>
<input type=hidden name=idsede value={{tipo.IDSEDE}}>
<td>Centro:</td><td><b>{{tipo.CENTRO}}</b></td></tr>
<td>Sede:</td>
<td><input class="sena-p100" type=text name=nom value="{{tipo.NOMBRE}}" requerid></td></tr>
<td colspan=2><button class="sena-btn sena-p4" onclick='IrF("/sedes/u")'>Guardar</button></td>
{% endfor %}
{% endif %}

</FORM></table>
</div>
</tr>
</table>
<br>
</div>
</div>


{% endblock content %}